@use './variables' as *;
@forward './variables';
@use 'sass:color';
@use './components/navbar';
@use './components/nav-overlay';

html {
    &.overlay-nav-open {
        overflow: hidden;
    }
}

html,
body {
    all: unset;
    background-color: $black;
    color: $black;
    font-size: 1rem;
    line-height: 1;
    font-family: $font-body;

    // modern scrollbar (Firefox, Chrome 121+)
    scrollbar-color: $black;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
}

// webkit scrollbar (Safari, older Chrome/Edge)
::-webkit-scrollbar-track {}

::-webkit-scrollbar-thumb {
    &:hover {}
}

main {
    margin-block: rem(81) 0;
    padding-block: rem(50) 0;
    background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $white;
    font-family: $font-heading;
    font-weight: $font-weight-black;
    margin-block: 0 1.5rem;
    letter-spacing: 1px;
    line-height: 1;
}

h1 {
    font-size: 2.5rem;

    @media only screen and (min-width: $md-breakpoint-up) {
        font-size: 4.5rem;
    }
}

h2 {
    font-size: 2rem;

    @media only screen and (min-width: $md-breakpoint-up) {
        font-size: 2.5rem;
    }
}

h3 {
    font-size: 1.25rem;

    @media only screen and (min-width: $md-breakpoint-up) {
        font-size: 2.25rem;
    }
}

h4 {
    font-size: 1.125rem;

    @media only screen and (min-width: $md-breakpoint-up) {
        font-size: 2.125rem
    }
}

h5,
h6 {
    font-size: 1rem;

    @media only screen and (min-width: $md-breakpoint-up) {
        font-size: 2rem
    }
}

p {
    font-family: $font-body;
    font-weight: $font-weight-normal;
    color: $text-muted;
    margin-top: 0;
    margin-bottom: 1rem;
}

ul,
ol,
li {
    font-family: $font-body;
    font-weight: $font-weight-normal;
    color: $text-muted;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

label {
    font-family: $font-body;
    font-weight: $font-weight-normal;
    color: $text-muted;
    margin-block: 0 .625rem;
}

.hidden {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

img {
    width: 10rem;
    display: block;
    object-fit: cover;
}

.container {
    max-width: 62.5rem;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    margin-bottom: 2rem;
}

a {
    color: $text-muted;
    text-decoration: none;
    transition: color $transition;

    &:not(.btn):hover {
        color: $yellow;
    }
}

.btn {
    font-family: $font-body;
    font-weight: $font-weight-normal;
    padding-block: 1.5rem;
    padding-inline: 2rem;
}