@use 'sass:color';

$black: #000000;
$white: #ffffff;
$text-muted: color.adjust($white, $alpha: -0.3);
$slate: #0f172a;
$glass-bg: color.adjust($white, $alpha: -0.95);
$glass-bg-border: color.adjust($white, $alpha: -0.9);
$glass-bg-hover: color.adjust($white, $alpha: -0.8);
$social-card-bg: color.adjust($slate, $alpha: -0.2);
$blue: #2563eb;
$bright-blue: color.adjust($blue, $lightness: 20%);
$dark-blue: color.adjust($blue, $lightness: -20%);
$yellow: #FACC15;
$bright-yellow: color.adjust($yellow, $lightness: 20%);
$dark-yellow: color.adjust($yellow, $lightness: -20%);
$red: #EF4444;
$bright-red: color.adjust($red, $lightness: 20%);
$dark-red: color.adjust($red, $lightness: -20%);

$button-gradient-dark: linear-gradient(to right,
		$dark-red 0%,
		color.mix($dark-blue, $dark-red, 25%) 30%,
		color.mix($dark-blue, $dark-red, 50%) 50%,
		color.mix($dark-blue, $dark-red, 75%) 70%,
		$dark-blue 100%);

$button-gradient-red: linear-gradient(to right,
		$red 0%,
		color.mix($dark-red, $red, 35%) 40%,
		color.mix($dark-red, $red, 70%) 70%,
		$dark-red 100%);


$button-gradient-yellow: linear-gradient(to right,
		$yellow 0%,
		color.mix($dark-yellow, $yellow, 35%) 40%,
		color.mix($dark-yellow, $yellow, 70%) 70%,
		$dark-yellow 100%);

$card-glow-gradient: linear-gradient(to right,
		color.change($dark-red, $alpha: 0.3),
		color.change($yellow, $alpha: 0.3),
		color.change($dark-blue, $alpha: 0.3));

$text-gradient-glow: linear-gradient(to right, $red, $yellow, $blue);

$tiktok-cyan: #00F2EA;
$tiktok-red: #FF0050;

$transition: 0.3s ease;
$filter-blur: blur(0.25rem);
$backdrop-blur: blur(0.25rem);



@font-face {
	font-family: "Inter", sans-serif;
	src: url('/fonts/inter/inter-variable.woff2') format('woff2');
	font-display: swap;
	font-optical-sizing: auto;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans", sans-serif;
	src: url('/fonts/inter/noto-normal.woff2') format('woff2');
	font-display: swap;
	font-optical-sizing: auto;
	font-style: normal;
}

$font-body: "Inter", system-ui, sans-serif;
$font-heading: "Noto Sans", system-ui, sans-serif;
$font-weight-thin: 200;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;
// Breakpoints
$xs-breakpoint-up: 375px;
$sm-breakpoint-up: 576px;
$md-breakpoint-up: 768px;
$lg-breakpoint-up: 992px;
$xl-breakpoint-up: 1200px;
$xxl-breakpoint-up: 1400px;


@function rem($px) {
	@return calc($px / 16) * 1rem;
}

@keyframes gradient-shift {
	0% {
		background-position: 0% center;
	}

	50% {
		background-position: 100% center;
	}

	100% {
		background-position: 0% center;
	}
}


@mixin glow($color) {
	@keyframes glow-#{$color} {

		0%,
		100% {
			filter: drop-shadow(0 0 6px #{color.change($color, $alpha: 0.2)});
		}

		50% {
			filter: drop-shadow(0 0 18px #{color.change($color, $alpha: 0.6)});
		}
	}

	animation: glow-#{$color} 4s ease infinite;
}