include ../mixins/icons

section.cta
	.container
		.cta__card
			.card-glow
			+iconSparkles()
			h2 READY TO START YOUR COLLECTION?
			p Visit us in-store or reach out online. Let's find your next treasure together!
			.cta__actions
				a.btn.btn--primary(href="/contact") Contact Us Today
				a.btn.btn--outline(href="/about") About WTX Wax
