meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content= description)
meta(name="theme-color" content="#0f172a")
title #{title || "TITLE NEEDS UPDATE"}
link(rel="preload" href="/fonts/inter/inter-variable-normal.woff2" as="font" type="font/woff2" crossorigin)
link(rel="icon" type="image/png" href="/assets/favicon.png")
