nav.nav-overlay.hidden
    .container
        ul.overlay-links
            li
                a.nav-link(href="/" class=isCurrentPage('index')) Home
            li
                a.nav-link(href="/" class=isCurrentPage('about')) About
            li
                a.nav-link(href="/" class=isCurrentPage('contact')) Contact
