doctype html
html(lang="en-US")
	head
		include ../partials/head.pug
		block head
	body
		include ../partials/navbar.pug
		include ../partials/nav-overlay.pug
		block content
		include ../partials/footer.pug
		include ../mixins/icons
		button.scroll-to-top.scroll-btn-hidden(type="button" aria-label="Scroll to top")
			+iconChevronUp()
