extends ../layouts/base

block head
    link(rel="stylesheet" href="/css/pages/404.css")
    script(type="module" src="/js/404.js")
block content
    main.error-page
        h1 404
        h2 Page Not Found
        p The page you're looking for doesn't exist or was moved.

        a(href="/" class="btn btn--primary") Go back home
