extends ../layouts/base

block head
    link(rel="stylesheet" href="/css/pages/index.css")
    script(type="module" src="/js/index.js")

block content
    main
        header.page-header.container
                h1 HOME PAGE
