@use '../variables' as *;
@use 'sass:color';

.site-footer {
	border-top: 1px solid $glass-bg-border;
	margin: 0;
	padding-block: rem(40);

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(24);
		text-align: center;

		@media (min-width: $md-breakpoint-up) {
			flex-direction: row;
			justify-content: space-between;
			text-align: left;
		}
	}
}

.site-footer__brand {
	display: flex;
	flex-direction: column;
	line-height: 1.1;
	gap: rem(2);

	.brand__name {
		font-family: $font-heading;
		font-size: rem(18);
		font-weight: $font-weight-black;
		text-transform: uppercase;
		color: $white;
		letter-spacing: 2px;

		@media (min-width: $md-breakpoint-up) {
			font-size: rem(22);
		}
	}

	.brand__sub {
		font-size: rem(10);
		font-weight: $font-weight-semibold;
		text-transform: uppercase;
		color: $yellow;
		letter-spacing: 4px;

		@media (min-width: $md-breakpoint-up) {
			font-size: rem(11);
		}
	}
}

.site-footer__nav {
	display: flex;
	gap: rem(24);

	a {
		font-size: rem(14);
		color: color.adjust($white, $alpha: -0.5);

		&:hover {
			color: $white;
		}
	}
}

.site-footer__copy {
	font-size: rem(14);
	color: color.adjust($white, $alpha: -0.5);
	margin-bottom: 0;
}