@use '../variables' as *;
@use 'sass:color';

.location {
	.location__grid {
		display: grid;
		gap: rem(32);

		@media (min-width: $md-breakpoint-up) {
			grid-template-columns: 2fr 3fr;
			align-items: stretch;
		}
	}

	.location__info {
		display: flex;
		flex-direction: column;
		gap: rem(16);
	}

	.location__details {
		display: flex;
		flex-direction: column;
		gap: rem(16);

		@media (min-width: rem(705)) and (max-width: #{$md-breakpoint-up - 1px}) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.location__detail {
		display: flex;
		gap: rem(16);

		@media (min-width: rem(705)) and (max-width: #{$md-breakpoint-up - 1px}) {
			flex-direction: column;
		}
		background: $glass-bg;
		border: 1px solid $glass-bg-border;
		border-radius: rem(16);
		padding: rem(24);
		transition: border-color $transition;

		h4 {
			color: $white;
			font-size: rem(15);
			font-weight: $font-weight-bold;
			margin-bottom: rem(8);
		}

		p {
			font-size: rem(14);
			margin-bottom: 0;
			line-height: 1.6;
		}

		dl {
			display: grid;
			grid-template-columns: auto 1fr;
			gap: rem(4) rem(16);
			font-size: rem(14);
			margin: 0;
		}

		dt {
			color: $text-muted;
		}

		dd {
			color: $white;
			margin: 0;
		}

		a {
			display: flex;
			align-items: center;
			gap: rem(8);
			font-size: rem(14);
			margin-bottom: rem(8);

			&:last-child {
				margin-bottom: 0;
			}

			svg {
				width: rem(16);
				height: rem(16);
			}
		}
	}

	.location__detail-icon {
		width: rem(48);
		height: rem(48);
		border-radius: rem(12);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;

		svg {
			width: rem(24);
			height: rem(24);
		}
	}

	// Colour-coded icon backgrounds per detail card
	.location__detail:nth-child(1) {
		&:hover {
			border-color: color.adjust($red, $alpha: -0.7);
		}

		.location__detail-icon {
			background: color.adjust($red, $alpha: -0.8);
			color: $red;
		}
	}

	.location__detail:nth-child(2) {
		&:hover {
			border-color: color.adjust($blue, $alpha: -0.7);
		}

		.location__detail-icon {
			background: color.adjust($blue, $alpha: -0.8);
			color: $blue;
		}
	}

	.location__detail:nth-child(3) {
		&:hover {
			border-color: color.adjust($yellow, $alpha: -0.7);
		}

		.location__detail-icon {
			background: color.adjust($yellow, $alpha: -0.8);
			color: $yellow;
		}
	}

	// Map
	.location__map {
		position: relative;
		border-radius: rem(20);
		border: 1px solid $glass-bg-border;
		min-height: rem(400);
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			min-height: rem(400);
			object-fit: cover;
			display: block;
			border-radius: inherit;
		}
	}
}