@use '../variables' as *;

html.overlay-nav-open,
html.overlay-nav-open body {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

.nav-overlay {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    height: 100dvh;
    width: 100%;
    padding-block: rem(81) 0;
    background-color: blue;
    visibility: hidden;
    opacity: 0;
    transition: opacity $transition, visibility $transition;

    html.overlay-nav-open & {
        opacity: 1;
        visibility: visible;
    }

    .container {
        height: 100%;
    }

    .overlay-links {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        padding-top: 3rem;
        list-style: none;
        opacity: 0;
        transition: opacity 0.3s 0.15s ease-in;

        html.overlay-nav-open & {
            opacity: 1;
        }

        a {
            font-family: $font-heading;
            font-size: rem(32);
            font-weight: $font-weight-normal;
            color: white;
            text-transform: uppercase;
            letter-spacing: 3px;
            transition: color $transition;

            &:hover {
                color: yellow;
            }

            &.current-page {
                color: yellow;
            }
        }
    }
}
